<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Learning MDL</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body{
            padding: 20px;
        }
        .header{
            color: #666;
        }
        .container{
            margin: 0 auto;
            width: 600px;
        }

        .basic-button{
            margin: 20px 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <h1 class="header" >Material Design Buttons</h1>

    <h5 class="header">Basic Button Styles</h5>

    <button class="basic-button mdl-button mdl-js-button mdl-button--fab  mdl-button--colored">
        Hi!
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">add</i>
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Button
    </button>

    <button class="basic-button mdl-button mdl-js-button">
        Button
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
        <i class="material-icons">mood</i>
    </button>

    <h5 class="header">Basic Button Styles With Ripple Effect</h5>

    <button class="basic-button mdl-button mdl-js-button mdl-button--fab  mdl-button--colored mdl-js-ripple-effect">
        Hi!
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
        <i class="material-icons">add</i>
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Button
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-js-ripple-effect">
        Button
    </button>

    <button class="basic-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect">
        <i class="material-icons">mood</i>
    </button>

</div>

</body>
</html>
