<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Learning MDL</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body{
            padding: 20px;
        }
        .header{
            color: #666;
            margin-top: 50px;
        }
        .container{
            margin: 0 auto;
            width: 800px;
        }


    </style>
</head>
<body>
<div class="container">

    <h1 class="header" >Material Design Lite Menu</h1>

    <label>Pets</label>

    <button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu" for="menu-speed">
        <li class="mdl-menu__item">Cats</li>
        <li class="mdl-menu__item">Dogs</li>
        <li class="mdl-menu__item">Hamsters</li>
    </ul>
</div>

</body>
</html>
