<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Responsive Grid</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>


        .basic-cell{
            padding: 20px;
        }
        .mdl-grid{
            max-width: 900px;
        }

    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">


        <div class="mdl-grid">
            <div class="basic-cell mdl-cell mdl-cell--4-col"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</div>
                <div>Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi iure nihil neque sit rem, perferendis incidunt accusantium facere dolores nisi repellendus molestiae inventore temporibus! Sit, nesciunt, unde!</div>
                <div>Minima voluptatem voluptatum nulla similique atque facilis fugit, nesciunt doloribus, ipsum velit commodi cupiditate quo, a qui vel fuga sapiente perferendis hic optio. Amet totam veniam repellat. Possimus, pariatur rerum.</div>
                <div>Dolore laudantium quia quibusdam eveniet! Ducimus consequuntur, rem. Optio mollitia fugit culpa, autem laborum illum enim modi doloribus dolore ratione quae iste quaerat consequuntur repellat sit eos debitis quod magnam!</div>
                <div>Veniam saepe eum, explicabo pariatur tempora. Tempora beatae, excepturi tempore, aliquam eius magni, temporibus laborum commodi voluptate id pariatur laudantium, blanditiis molestias placeat consectetur impedit ducimus laboriosam corporis quam veniam.</div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</div>
                <div>Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi iure nihil neque sit rem, perferendis incidunt accusantium facere dolores nisi repellendus molestiae inventore temporibus! Sit, nesciunt, unde!</div>
                <div>Minima voluptatem voluptatum nulla similique atque facilis fugit, nesciunt doloribus, ipsum velit commodi cupiditate quo, a qui vel fuga sapiente perferendis hic optio. Amet totam veniam repellat. Possimus, pariatur rerum.</div>
                <div>Dolore laudantium quia quibusdam eveniet! Ducimus consequuntur, rem. Optio mollitia fugit culpa, autem laborum illum enim modi doloribus dolore ratione quae iste quaerat consequuntur repellat sit eos debitis quod magnam!</div>
                <div>Veniam saepe eum, explicabo pariatur tempora. Tempora beatae, excepturi tempore, aliquam eius magni, temporibus laborum commodi voluptate id pariatur laudantium, blanditiis molestias placeat consectetur impedit ducimus laboriosam corporis quam veniam.</div></div>
            <div class="basic-cell mdl-cell mdl-cell--4-col"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error laudantium iusto, quo consequuntur impedit ut nostrum commodi, est aspernatur, similique deserunt quos praesentium dolorum nemo voluptates nobis explicabo ad.</div>
                <div>Doloribus nostrum delectus rerum est illo fuga nam fugiat unde nesciunt accusamus accusantium, animi totam id voluptatibus consequuntur maiores dolorem quam eos voluptatem minus doloremque soluta repellendus numquam! Eveniet, optio.</div>
                <div>Accusantium cumque ipsam ratione corporis, neque placeat veritatis voluptatibus fugiat modi ea, aspernatur tempore quas temporibus. Beatae laudantium laborum, repellendus culpa, expedita error alias, eveniet autem rem labore cumque qui!</div>
                <div>Pariatur dicta vitae cumque aliquid sunt ipsam beatae ex magni blanditiis inventore totam minus velit facere hic, facilis eos consequatur debitis, deserunt quaerat nobis quasi? Aliquid, qui dolorem et debitis.</div>
                <div>Ex animi voluptates voluptatem, culpa necessitatibus ut hic reiciendis exercitationem quis voluptas nam, fugiat repellendus illum aliquid tempore eius architecto dolorem corporis voluptatibus. Iusto officiis laboriosam asperiores ipsam rem nostrum.</div>
                <div>Reiciendis nemo nihil, nam et enim at suscipit repellat tempora temporibus consequuntur harum commodi error, dolor reprehenderit numquam incidunt officia architecto fuga. Quis magni harum voluptatem, illo aperiam officiis sequi!</div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</div>
                <div>Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi iure nihil neque sit rem, perferendis incidunt accusantium facere dolores nisi repellendus molestiae inventore temporibus! Sit, nesciunt, unde!</div>
                <div>Minima voluptatem voluptatum nulla similique atque facilis fugit, nesciunt doloribus, ipsum velit commodi cupiditate quo, a qui vel fuga sapiente perferendis hic optio. Amet totam veniam repellat. Possimus, pariatur rerum.</div>
                <div>Dolore laudantium quia quibusdam eveniet! Ducimus consequuntur, rem. Optio mollitia fugit culpa, autem laborum illum enim modi doloribus dolore ratione quae iste quaerat consequuntur repellat sit eos debitis quod magnam!</div>
                <div>Veniam saepe eum, explicabo pariatur tempora. Tempora beatae, excepturi tempore, aliquam eius magni, temporibus laborum commodi voluptate id pariatur laudantium, blanditiis molestias placeat consectetur impedit ducimus laboriosam corporis quam veniam.</div></div>
            <div class="basic-cell mdl-cell mdl-cell--4-col"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quos numquam eum corrupti iusto provident ipsam itaque nam sint ullam tenetur perferendis odit delectus, voluptate, voluptas neque, corporis quis minus!</div>
                <div>Repudiandae iure incidunt libero hic magnam possimus illum. Maxime consequatur, ipsam voluptates doloremque animi dolorem quidem laudantium. Magnam mollitia quos error blanditiis ducimus commodi adipisci praesentium, rerum repellat, porro esse!</div>
                <div>Adipisci ex quisquam voluptatem eaque, at vel officia, voluptas perspiciatis voluptatum voluptate perferendis tenetur. Animi sapiente, incidunt, id porro laudantium, laborum doloremque harum voluptates, laboriosam nesciunt fugiat veniam eaque consectetur.</div>
                <div>Quidem reprehenderit possimus sapiente hic nam! Aperiam repellat officia facilis itaque, at facere aliquid aspernatur ullam cum. Ipsa porro eveniet molestiae, odio dolorem ad, et repudiandae, qui ipsum, aut quos.</div>
                <div>Repellat officiis, eius repudiandae quisquam ullam voluptates, fugiat dolor architecto saepe suscipit quia nihil quibusdam voluptatem non neque, debitis deserunt quam nobis ratione id reprehenderit voluptatibus aut accusamus fugit quis!</div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</div>
                <div>Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi iure nihil neque sit rem, perferendis incidunt accusantium facere dolores nisi repellendus molestiae inventore temporibus! Sit, nesciunt, unde!</div>
                <div>Minima voluptatem voluptatum nulla similique atque facilis fugit, nesciunt doloribus, ipsum velit commodi cupiditate quo, a qui vel fuga sapiente perferendis hic optio. Amet totam veniam repellat. Possimus, pariatur rerum.</div>
                <div>Dolore laudantium quia quibusdam eveniet! Ducimus consequuntur, rem. Optio mollitia fugit culpa, autem laborum illum enim modi doloribus dolore ratione quae iste quaerat consequuntur repellat sit eos debitis quod magnam!</div>
                <div>Veniam saepe eum, explicabo pariatur tempora. Tempora beatae, excepturi tempore, aliquam eius magni, temporibus laborum commodi voluptate id pariatur laudantium, blanditiis molestias placeat consectetur impedit ducimus laboriosam corporis quam veniam.</div></div>
        </div>

    </main>


</div>

</body>
</html>
