<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Tabbed Layout</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .layout-transparent {
            background: url('https://placekitten.com/g/2000/1000') center / cover;
        }
        .layout-transparent .mdl-layout__header,
        .layout-transparent .mdl-layout__drawer-button {
            color: white;
        }
        .container{
            width: 700px;
            margin: 0 auto;
            background: white;
            padding: 50px;
        }


    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
            <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
            <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
            <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div style="height: 2000px;" class="page-content">
                <div class="container mdl-shadow-4dp">
                    <h1>This is the page header</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <h2>Sub header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-5">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-6">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
    </main>
</div>

</body>
</html>
