<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Transparent Layout</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .layout-transparent {
            background: url('https://placekitten.com/g/2000/1000') center / cover;
        }
        .layout-transparent .mdl-layout__header,
        .layout-transparent .mdl-layout__drawer-button {
            color: white;
        }
        .container{
            width: 700px;
            margin: 0 auto;
            background: white;
            padding: 50px;
        }
    </style>
</head>
<body>

<div class="layout-transparent mdl-layout mdl-js-layout">

    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">

            <span class="mdl-layout-title">This is the Title</span>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>


    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Drawer Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>


    <main class="mdl-layout__content">
        <div class="container mdl-shadow-4dp">
            <h1>This is the page header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <h2>Sub header</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
        </div>

    </main>
</div>
</body>
</html>
