<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Waterfall Header</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>

        .container{
            width: 700px;
            margin: 0 auto;
            background: white;
            padding: 50px;
        }

    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                          mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="waterfall-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="waterfall-exp" />
                </div>
            </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="waterfall-demo-header-nav mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div style="height: 2000px;" class="page-content">
            <div class="container mdl-shadow-4dp">
                <h1>This is the page header</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <h2>Sub header</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus harum magnam ut voluptates, distinctio autem, quibusdam officia nulla temporibus quae cum molestiae placeat quaerat hic iure pariatur. Numquam, voluptates tempora!</p>
            </div>
        </div>
    </main>
</div>

</body>
</html>
